body {
    background-color: #af2873;
}


.posts {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.discordInputMessage {
    resize: none;
    margin-bottom: 10px;
}

.discordOutputMessage {
    resize: none;
    margin-bottom: 10px;
}
